@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position:relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

footer.footer{
    padding:15px;
    position: absolute;
    bottom: 0;
    width:100%;
}

.card-covoiturage{
    width: 75%;
}

.card-espace{
    width: 100%;
}

@media (min-width: 768px) {
    .card-covoiturage{
        width: 55%;
    }
    .card-espace{
        width: 75%;
    }
}

@media (min-width: 992px) { 
    .card-covoiturage{
        width: 35%;
    }
    .card-espace{
        width: 50%;
    }
 }

 .point{
    width: 50px; 
    height: 50px; 
    font-size: 1.5rem;
 }